.card {

  border: 1px solid #e7eeee;
  padding: 30px;
  width: 250px;
  border-radius: 40px;
  margin-left: 26px;
  margin-bottom: 25px;
  transition: linear 100ms;

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  h5 {
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    width: 150px;
  }

  .cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cardPrice {
      flex-direction: column;

      span {
        font-size: 14px;
        text-transform: uppercase;
        opacity: 0.8;
        margin-right: 5px;
      }
    }

    .button {
      background: white;
      border: 1px solid #f2f2f2;
      box-sizing: border-box;
      border-radius: 5px;
      cursor: pointer;
      width: 32px;
      height: 32px;

      img {
        vertical-align: middle;
      }
    }
  }

}

.card:hover {
  box-shadow: 0 0 10px rgba(59, 59, 59, 0.3);
  transition: linear 100ms;
  transform: translateY(-5px);
}